#principal{
    display: inline-block;
    overflow: hidden;
    width: 70%;
    margin-left: 40px;
}
form#contato label textarea{
    display: block;
}
#contato{
   display: flex;
    width: 60%;
    flex-direction: column;
}
#contato input{
    width: 80%;
}
#contato #ddd{
    width: 30px;
}
#contato #telefone{
    width: 145px;
}
#contato #enviar{
    width: auto;
}
#contato textarea{
    width: 380px;
    height: 140px;
}
#contato label{
    margin-top: 10px;
}
h2{
    color: #0056a6;
}